body {
    font-family: Verdana;
    padding: 10px;
    margin: 0;
    width: 200px;
    height: 100%;
    border: none;
    background-color: #F9F7EA;
  }
  
  h2 {

    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #433E3F;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #818EB1;
    color: #F9F7EA;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
  }
  
